body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.spreadsheet__container {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.spreadsheet__header {
  flex: 0 0 auto;
}

.spreadsheet__formula-bar {
  border-top: 1px solid lightgray;
  padding-left: 5px;
}

.spreadsheet__formula-bar label {
  color: gray;
  font-weight: 900;
  padding-left: 5px;
}

.spreadsheet__formula-bar input {
  width: 95%;
  border: 0;
  outline-width: 0;
}

.spreadsheet__container .spreadsheet__editor {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.spreadsheet__grid-container {
  height: 95%;
  flex: 0 1 auto;
}

.spreadsheet__sheets-container {
  flex: 0 0 auto;
}
