body {
  margin: 0;
}

.passed-class {
  height: 100vh;
}

.grid__container,
.grid__container div {
  box-sizing: border-box;
}

.grid__container {
  height: 100%;
  background: #ededed;
  border: 1px solid #ededed;
  display: flex;
  font-size: 12px;
  text-align: center;
  line-height: 25px;
  overflow: auto;
  position: relative;
}

.grid__row-index-ctr {
  height: 100%;
  width: 40px;
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  z-index: 1;
}

.grid__header,
.grid__row-index-ctr div:first-child {
  position: sticky;
  top: 0;
}

.grid__col-index-ctr-content {
  display: flex;
  flex-direction: column;
}

.grid__row-index-ctr div,
.grid__header,
.grid__header .grid__row,
.grid__content .grid__row {
  height: 25px;
}

.grid__row-index-ctr div,
.grid__header .grid__row {
  background-color: #f1f6f7;
}

.grid__header .grid__row div {
  border-left: 1px solid #d3e2e6;
}

.grid__row {
  display: flex;
}

.grid__row div {
  height: 100%;
  width: 100px;
  flex: 0 0 auto;
}

.grid__content {
  height: 100%;
}

.grid__content .grid__row {
  background-color: #ffffff;
}

.grid__content .grid__row div {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.grid__row-index-ctr div {
  border-bottom: 1px solid #d3e2e6;
}

.grid__row input {
  width: 90%;
  border: 0;
  padding: 4px;
}